<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <base href="/"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Ranga" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TV shows</title>
</head>
<body>
    <div>
        <h3>Bienvenido        !</h3>
      </div>
      <div>
        <h1>RESERVA DE PUBLICIDAD</h1>
      </div>
      <div>
        <p>Elige la programación en la que deseas que se visualice tu marca</p>
      </div>
      
      <table class="striped centered responsive-table">
        <tr>
          <th>Hora</th>
          <th>Lunes</th> 
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th> 
          <th>Viernes</th>
          <th>Sábado</th> 
          <th>Domingo</th>
        </tr>
        <tr>
          <td>5:15 a.m.</td>
          <td rowspan="5">AN: Primera Edición</td>
          <td rowspan="5">AN: Primera Edición</td>
          <td rowspan="5">AN: Primera Edición</td>
          <td rowspan="5">AN: Primera Edición</td>
          <td rowspan="5">AN: Primera Edición</td>
          <td rowspan="2">Especiales América</td>
          <td>Automundo</td>
        </tr>
        <tr>
          <td>6:00 a.m.</td>
          <td >Estás en todas</td>
        </tr>
        <tr>
          <td>7:00 a.m.</td>
          <td rowspan="2">AN: Edición Sabatina</td>
          <td>AN: Edición Dominical</td>
        </tr>
         <tr>
          <td>8:30 a.m.</td>
          <td rowspan="3">Domingo al día</td>
        </tr>
        <tr>
          <td>9:00 a.m.</td>
          <td rowspan="2">Estás en todas</td>
        </tr>
        <tr>
          <td>10:00 a.m.</td>
          <td>El privilegio de amar</td>
          <td>El privilegio de amar</td>
          <td>Papá a toda madre</td>
          <td>Papá a toda madre</td>
          <td>Papá a toda madre</td>
        </tr>
        <tr>
          <td>11:00 a.m.</td>
          <td>Marimar</td>
          <td>María Mercedes</td>
          <td>María Mercedes</td>
          <td>María Mercedes</td>
          <td>María Mercedes</td>
          <td>Cinescape</td>
          <td>TEC</td>
        </tr>
         <tr>
          <td>12:00 p.m.</td>
          <td rowspan="2">AN: Edición Mediodía</td>
          <td rowspan="2">AN: Edición Mediodía</td>
          <td rowspan="2">AN: Edición Mediodía</td>
          <td rowspan="2">AN: Edición Mediodía</td>
          <td rowspan="2">AN: Edición Mediodía</td>
          <td>El chavo del ocho</td>
          <td>El chavo del ocho</td>
        </tr>
        <tr>
          <td>12:30 p.m.</td>
          <td rowspan="2">Solamente Milagros</td>
        </tr>
        <tr>
          <td>13:00 p.m.</td>
          <td rowspan="2">En boca de todos</td>
          <td rowspan="2">En boca de todos</td>
          <td rowspan="2">En boca de todos</td>
          <td rowspan="2">En boca de todos</td>
          <td rowspan="2">En boca de todos</td>
        </tr>
         <tr>
          <td>14:00 p.m.</td>
          <td rowspan="2">El chavo del ocho</td>
          <td>Cine</td>
        </tr>
        <tr>
          <td>14:30 p.m.</td>
          <td rowspan="3">Al fondo hay sitio</td>
          <td rowspan="3">Al fondo hay sitio</td>
          <td rowspan="3">Al fondo hay sitio</td>
          <td rowspan="3">Al fondo hay sitio</td>
          <td rowspan="3">Al fondo hay sitio</td>
        </tr>
        <tr>
          <td>15:00 p.m.</td>
          <td rowspan="4">La Rosa de Guadalupe</td>
        </tr>
        <tr>
          <td>15:30 p.m.</td>
          <td>Cine</td>
        </tr>
        <tr>
          <td>16:00 p.m.</td>
          <td>La jefa del campeón</td>
          <td>La jefa del campeón</td>
          <td>La jefa del campeón</td>
          <td>La jefa del campeón</td>
          <td>La jefa del campeón</td>
        </tr>
        <tr>
          <td>17:00 p.m.</td>
          <td>La rosa de guadalupe</td>
          <td>La rosa de guadalupe</td>
          <td>La rosa de guadalupe</td>
          <td>La rosa de guadalupe</td>
          <td>La rosa de guadalupe</td>
          <td rowspan="2">La rosa de guadalupe</td>
        </tr>
        <tr>
          <td>18:00 p.m.</td>
          <td>La rosa de guadalupe</td>
          <td>La rosa de guadalupe</td>
          <td>La rosa de guadalupe</td>
          <td>La rosa de guadalupe</td>
          <td>La rosa de guadalupe</td>
          <td>La Previa</td>
        </tr>
        <tr>
          <td>19:00 p.m.</td>
          <td rowspan="2">Esto es guerra</td>
          <td rowspan="2">Esto es guerra</td>
          <td rowspan="2">Esto es guerra</td>
          <td rowspan="2">Esto es guerra</td>
          <td rowspan="2">Esto es guerra</td>
          <td rowspan="3">El reventonazo de la chola</td>
          <td>Mi mamá cocina mejor que la tuya</td>
        </tr>
        <tr>
          <td>20:00 p.m.</td>
          <td rowspan="4">Cuarto Poder</td>
        </tr>
        <tr>
          <td>20:30 p.m.</td>
          <td rowspan="2">De vuelta al barrio</td>
          <td rowspan="2">De vuelta al barrio</td>
          <td rowspan="2">De vuelta al barrio</td>
          <td rowspan="2">De vuelta al barrio</td>
          <td rowspan="2">De vuelta al barrio</td>
        </tr>
         <tr>
          <td>21:00 p.m.</td>
          <td rowspan="3">El artista del año</td>
        </tr>
        <tr>
          <td>21:30 p.m.</td>
          <td>Mi esperanza</td>
          <td>Mi esperanza</td>
          <td>Mi esperanza</td>
          <td>Mi esperanza</td>
          <td>Mi esperanza</td>
        </tr>
        <tr>
          <td>22:30 p.m.</td>
          <td rowspan="2">AN: Edición Central</td>
          <td rowspan="2">AN: Edición Central</td>
          <td rowspan="2">AN: Edición Central</td>
          <td rowspan="2">AN: Edición Central</td>
          <td rowspan="2">AN: Edición Central</td>
          <td rowspan="3">Fútbol en américa</td>
        </tr>
        <tr>
          <td>23:00 p.m.</td>
          <td rowspan="2">Mujeres sin filtro</td>
        </tr>
        <tr>
          <td>23:30 p.m.</td>
          <td>La banda del Chino</td>
          <td>La banda del Chino</td>
          <td>La banda del Chino</td>
          <td>La banda del Chino</td>
          <td>La banda del Chino</td>
        </tr>
      </table>
    
      <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
      <script src="../js/app.js"></script>
      
  
</body>
</html>